{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "displayName": true,
        "preprocess": false,
        "ssr": true
      }
    ],
    "inline-react-svg",
    [
      "module-resolver",
      {
        "root": ["./"]
      }
    ]
  ]
}
